.dark-medium-contrast {
  --md-sys-color-primary: rgb(177 203 255);
  --md-sys-color-surface-tint: rgb(171 199 255);
  --md-sys-color-on-primary: rgb(0 22 53);
  --md-sys-color-primary-container: rgb(110 145 209);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(139 223 122);
  --md-sys-color-on-secondary: rgb(0 28 0);
  --md-sys-color-secondary-container: rgb(82 162 70);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(190 216 255);
  --md-sys-color-on-tertiary: rgb(0 34 65);
  --md-sys-color-tertiary-container: rgb(139 175 225);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 185 187);
  --md-sys-color-on-error: rgb(54 0 9);
  --md-sys-color-error-container: rgb(252 85 104);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 23);
  --md-sys-color-on-background: rgb(226 226 231);
  --md-sys-color-surface: rgb(18 19 23);
  --md-sys-color-on-surface: rgb(251 250 255);
  --md-sys-color-surface-variant: rgb(67 71 80);
  --md-sys-color-on-surface-variant: rgb(200 202 214);
  --md-sys-color-outline: rgb(159 163 173);
  --md-sys-color-outline-variant: rgb(128 131 141);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 231);
  --md-sys-color-inverse-on-surface: rgb(40 42 46);
  --md-sys-color-inverse-primary: rgb(31 71 130);
  --md-sys-color-primary-fixed: rgb(215 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 17 43);
  --md-sys-color-primary-fixed-dim: rgb(171 199 255);
  --md-sys-color-on-primary-fixed-variant: rgb(2 53 111);
  --md-sys-color-secondary-fixed: rgb(162 247 143);
  --md-sys-color-on-secondary-fixed: rgb(0 22 0);
  --md-sys-color-secondary-fixed-dim: rgb(135 218 118);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 64 2);
  --md-sys-color-tertiary-fixed: rgb(211 228 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 18 39);
  --md-sys-color-tertiary-fixed-dim: rgb(165 201 252);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 55 98);
  --md-sys-color-surface-dim: rgb(18 19 23);
  --md-sys-color-surface-bright: rgb(56 57 62);
  --md-sys-color-surface-container-lowest: rgb(12 14 18);
  --md-sys-color-surface-container-low: rgb(26 28 32);
  --md-sys-color-surface-container: rgb(30 32 36);
  --md-sys-color-surface-container-high: rgb(40 42 46);
  --md-sys-color-surface-container-highest: rgb(51 53 57);
}
