.light {
  --md-sys-color-primary: rgb(9 57 115);
  --md-sys-color-surface-tint: rgb(57 94 154);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(55 92 152);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(4 94 6);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(53 133 44);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(59 96 141);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(156 192 242);
  --md-sys-color-on-tertiary-container: rgb(0 49 90);
  --md-sys-color-error: rgb(139 0 36);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(194 41 66);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(249 249 254);
  --md-sys-color-on-background: rgb(26 28 32);
  --md-sys-color-surface: rgb(249 249 254);
  --md-sys-color-on-surface: rgb(26 28 32);
  --md-sys-color-surface-variant: rgb(223 226 238);
  --md-sys-color-on-surface-variant: rgb(67 71 80);
  --md-sys-color-outline: rgb(115 119 129);
  --md-sys-color-outline-variant: rgb(195 198 209);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 53);
  --md-sys-color-inverse-on-surface: rgb(241 240 246);
  --md-sys-color-inverse-primary: rgb(171 199 255);
  --md-sys-color-primary-fixed: rgb(215 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 27 63);
  --md-sys-color-primary-fixed-dim: rgb(171 199 255);
  --md-sys-color-on-primary-fixed-variant: rgb(29 70 129);
  --md-sys-color-secondary-fixed: rgb(162 247 143);
  --md-sys-color-on-secondary-fixed: rgb(0 34 0);
  --md-sys-color-secondary-fixed-dim: rgb(135 218 118);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 83 3);
  --md-sys-color-tertiary-fixed: rgb(211 228 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 28 56);
  --md-sys-color-tertiary-fixed-dim: rgb(165 201 252);
  --md-sys-color-on-tertiary-fixed-variant: rgb(33 72 116);
  --md-sys-color-surface-dim: rgb(218 217 223);
  --md-sys-color-surface-bright: rgb(249 249 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 243 249);
  --md-sys-color-surface-container: rgb(238 237 243);
  --md-sys-color-surface-container-high: rgb(232 231 237);
  --md-sys-color-surface-container-highest: rgb(226 226 231);
}
