.light-medium-contrast {
  --md-sys-color-primary: rgb(9 57 115);
  --md-sys-color-surface-tint: rgb(57 94 154);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(55 92 152);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 79 2);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(53 133 44);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(28 68 112);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(82 118 165);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(138 0 36);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(194 41 66);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(249 249 254);
  --md-sys-color-on-background: rgb(26 28 32);
  --md-sys-color-surface: rgb(249 249 254);
  --md-sys-color-on-surface: rgb(26 28 32);
  --md-sys-color-surface-variant: rgb(223 226 238);
  --md-sys-color-on-surface-variant: rgb(63 67 76);
  --md-sys-color-outline: rgb(91 95 105);
  --md-sys-color-outline-variant: rgb(119 122 133);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 48 53);
  --md-sys-color-inverse-on-surface: rgb(241 240 246);
  --md-sys-color-inverse-primary: rgb(171 199 255);
  --md-sys-color-primary-fixed: rgb(81 117 178);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(55 92 152);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(53 133 44);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(24 106 20);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(82 118 165);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(57 94 138);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(218 217 223);
  --md-sys-color-surface-bright: rgb(249 249 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 243 249);
  --md-sys-color-surface-container: rgb(238 237 243);
  --md-sys-color-surface-container-high: rgb(232 231 237);
  --md-sys-color-surface-container-highest: rgb(226 226 231);
}
